.singleEventPage {
    width: 100%;
    margin-top: 20px;
    border: 0;
    padding: 0;
}

.singleEventBkg {
    width: 100vw;
    height: 600px;
    filter: blur(20px);
}

.event {
    position: absolute;
    left: 20%;
    top: 10%;
    border: 5px solid black;
    width: 900px;
    height: fit-content;
}
.upperPart {
    display: flex;
    flex-direction: row;
}

.upperPart > img {
    width: 60%;
}

.ticketsDiv {
    display: flex;
    justify-content: end;
    background-color: white;
    padding: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.ticketsBtn {
    background-color: green;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 20px 150px;
}

.urPart {
    color: black;
    width: 100%;
    height: 100;
    background-color: rgb(226, 226, 226);
}

.userBtns {
    display: flex;
    justify-content: end;
    background-color: white;
    padding: 10px;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

.editBtn {
    background-color: orange;
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 20px 50px;
    margin-right: 10px;
}

.deleteBtn {
    background-color: rgb(255, 63, 63);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 20px 50px;
}

.ticketModal {
    position: absolute;
    z-index: 1000;
    top: 10vh;
    left: 20%;
    width: 60%;
    height: 500px;
    background-color: white;
    display: flex;
}

.leftArea {
    display: flex;
    flex-direction: column;
    width: 70%;
    border-right: .1px solid grey;
}

.bottLeft {
}

.ticketForm {
   padding: 50px;
}

.ticketForm > label {
    font-size: 20px;
}

.ticketForm > select {
    position: relative;
    left: 50%;
    padding: 10px;
}

.topLeft {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: .1px solid grey;
}

.rightArea {
    width: 30%;
}

.ticketModalImg {
    width: 100%;
}

.bottRight {
    margin: 0px 5px;
}