.eventsPage {
    position: relative;
    left: 200px;
    width: 1100px;
}


.browseTitle {
    margin: 10px 10px;
}

.eventsDisplay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.eventSquare {
    text-decoration: none;
    text-decoration-color: black;
    margin: 10px 10px;
    width: 250px;
    height: 300px;
    border: .2px solid rgba(0, 0, 0, 0.465);
    transition: .5s;
}
.eventSquare:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.493);
    border: .2px solid rgba(0, 0, 0, 0.465);
}

.eventSquareInfo {
    margin: 0px 10px;
}

.date {
    color: orange;
}