.profile-dropdown {
    position: absolute;
    right: 1%;
    z-index: 10000;
    padding: 5px 10px;
    border: 1px solid rgba(0, 0, 0, 0.491);
    border-radius: 4px;
    width: fit-content;
    background-color: white;
}

.profile-button {
    margin: 0px 5px;
    display: flex;
    justify-content: end;
    background-color: orange;
    border-radius: 10px;
    padding: 5px;
}

.demoButton {
    background-color: orange;
    color: white;
    width: fit-content;
    padding: 5px 5px;
    border-radius: 4px;
    cursor: pointer;
}

.createEventLink {
    text-decoration: none;
    color: rgb(67, 67, 255);
}

.createEventButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
    margin: 0px 5px;
}

.browseEventsLink {
    text-decoration: none;
    color: rgb(67, 67, 255);
}

.browseEventsButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: blue;
    margin: 0px 5px;
}

.navbar {
    display: flex;
    justify-content: end;
    background-color: white;
    border-bottom: 1px solid black;
    padding: 10px;
}